/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(94, 117, 245);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
/****************************************
  /**************************************
  /** nouveau css formulaire **/
  /***************************************
/*****************************************/
  *{
    font-family: Avenir, sans-serif;
  }
  form{
    background-color: RGBa(240, 160, 0, 0.2);
  }
  legend{
    font-weight: bold;
  }
  .champ{
    margin-bottom: 10px;
  }
  textarea{
    width: 80%;
    height: 100px;
  }
  input{
    width: 150px;
  }
  input[type="radio"], input[type="checkbox"]{
    width: auto;
  }
  input[type="submit"]{
    width: 100px;
  }